<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geo Intersection Service</title>
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto+Mono&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/static/css/map.css">
</head>
<body>

    <header class="main-header">
        <h1>Geo Intersect Service</h1>
        
        <span id="status-badge"></span>

        <!--  -->
        <div class="toolbar">
            <button id="btn-intersect"
                    class="btn-home" 
                    hx-post="/api/map_intersect" 
                    hx-target="#table-results-container" 
                    hx-indicator="#status-badge">
                Intersect Shapes
            </button>
            <a href="/" class="btn-home">Home</a>
        </div>
    </header>

    <main class="container-fluid">
        <div class="dashboard-grid">
            <div class="grid-column">
                <section class="map-card">
                    <div class="card-header"><h2>Camadas de Entrada</h2></div>
                    <div id="map-input" class="map-view"></div>
                </section>
            </div>

            <div class="grid-column">
                <section id="output-section" class="map-card">
                    <div class="card-header"><h2>Resultado da Interseção</h2></div>
                    <div id="map-output" class="map-view"></div>
                </section>
            </div>
        </div>

        <div class="tables-grid">
            <div class="grid-column">
                <section class="table-card">
                    <div class="card-header">
                        <h3>Atributos de Entrada</h3>
                    </div>
                    <div id="table-input-container" class="data-table-wrapper">
                        </div>
                </section>
            </div>

            <div class="grid-column">
                <section class="table-card">
                    <div class="card-header">
                        <h3>Atributos do Resultado</h3>
                    </div>
                    <div id="table-results-container" class="data-table-wrapper">
                        </div>
                </section>
            </div>
        </div>

        <div class="card log-console-card">
            <div class="card-header">
                <h3>Console de Execução</h3>
            </div>
            <div id="log-console" class="log-content">
                Aguardando processamento...
            </div>
        </div>
    </main>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="/static/js/map.js"></script>
</body>
</html>